<section class="actions actions--atbottom clearfix editing">
          <div class="additem">
            <a href="#" class="btn btn-primary newproduct">Añadir a la cesta</a>
          </div>
          <div class="edititem">
            <a href="#" class="btn btn-primary btn-square btn-minus">
              <i class="i-fss-close-02"></i>
            </a>
            <input type="text" class="qty" value="2" size="2" maxlength="2">
            <a href="#" class="btn btn-primary btn-square btn-plus">Añadir</a>
          </div>
</section>
<input type="button" name="menos1" id="menos1" value="-" onclick="RtrCampo('cantidad_tropas1')"/>
<input type='text' name='cantidad_tropas1' id='cantidad_tropas1' value=0>
<input type="button" name="mas1" id="mas1" value="+" onclick="SmrCampo('cantidad_tropas1')"/>
 