{% extends "layout_logged_in.html" %}

{% block content %}

<!-- Sección #Mis_Listas -->
<section>
    <div class="text h2 text-center py-3">
        <span>Tu Cesta</span>
    </div>
    <div class="container">
        <div class="text-right ">
            <a href=""><i onclick="javascript:window.print();" class="fas fa-print text-primary fa-2x "></i></a>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Opciones
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/deleteAllCesta">Vaciar Cesta</a>
                      <a class="dropdown-item" href="/guardarLista">Guardar lista</a>
                    </div>
                </div>
            </div>
            <div class="col-6 text-center">
                <div class="card">
                    <div class="card-header">
                       <h5><span>Tu lista de la compra</span></h5> 
                    </div>
                    <div class="card-body ml-3">
                        {%  set contador = namespace(value=0) %}
                            {%for item in items %}
                                <div class="input-group py-1">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <a href="/adquirido/{{item.Id}}"><i class="{% if item.Tachar %} text-success fas fa-check {% else %} text-danger fas fa-times  {% endif %} "></i></a>
                                            <!-- <a href="/adquirido/{{item.Id}}" type="checkbox" aria-label="Checkbox for following text input"></a> -->
                                        </div>
                                    </div>
                                    <div class="input">
                                        <input type="text" readonly="true" color="blue" class="form-control {% if item.Tachar %} tachar {% endif %}" value="{{item.Item_nombre}}">
                                    </div>
                                    
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <a href="/DeleteArtCesta/{{item.Id}}"><i class="far fa-trash-alt text-success"></i></a>
                                        </div>
                                    </div>
                                    <div class="input-group-prepend ml-2">
                                        <input type="text" size="10" id="{{item.Item_nombre}}" placeholder="Precio" class="monto" onkeyup="SubTotal();" >
                                    </div>
                                    <div class="input-group-prepend ml-2">
                                        <input type="button" name="menos1" id="menos1" value="-" onclick="RtrCampo('{{contador.value|string}}')"/>
                                        <input class="form-control text-center" type='text'  size="1" id='{{contador.value|string}}' value=1>
                                        <input type="button" name="mas1" id="mas1" value="+" onclick="SmrCampo('{{contador.value|string}}')"/> 
                                    </div>
                                </div>   
                                {% set contador.value = contador.value + 1 %} 
                                <!-- <span>{{ contador.value}}</span>    -->
                            {%endfor%}
                    </div>
                    <div class="card-footer">  <span>Total: </span> <span id="Total"></span>
                    </div>
                       
                </div>
                
            </div>
           
               

            
        </div>
    </div>
</section>

{% endblock %}