{% extends "layout_logged_in.html" %}

{% block content %}

<!-- Sección #Mis_Listas -->
<section>
    <div class="text h2 text-center py-3">
        <span>Tu Cesta</span>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 py-5 text-center">
                <div class="card">
                    <div class="card-header">
                        <span>Tu lista de la compra</span>
                    </div>
                    <div class="card-body ">
                        {%for item in items %}
                                <div class="input-group py-1">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <a href="/adquirido/{{item.Id}}"><i class="{% if item.Tachar %} text-success fas fa-check {% else %} text-danger fas fa-times  {% endif %} "></i></a>
                                            <!-- <a href="/adquirido/{{item.Id}}" type="checkbox" aria-label="Checkbox for following text input"></a> -->
                                        </div>
                                    </div>
                                    <div class="input">
                                        <input type="text" readonly="true" color="blue" class="form-control {% if item.Tachar %} tachar {% endif %}" value="{{item.Item_nombre}}">
                                    </div>
                                    
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <a href="/DeleteArtCesta/{{item.Id}}"><i class="far fa-trash-alt text-danger"></i></a>
                                        </div>
                                    </div>
                                    <div class="input-group-prepend">
                                        <input type="text" size="8" placeholder="Precio" >
                                    </div>
                                    <input type="button" name="menos1" id="menos1" value="-" onclick="RtrCampo('cantidad_tropas1')"/>
                                    <input type='text'  size="2" name='cantidad_tropas1' id='cantidad_tropas1' value=1>
                                    <input type="button" name="mas1" id="mas1" value="+" onclick="SmrCampo('cantidad_tropas1')"/> 
                                </div>       
                        {%endfor%}
                    </div>
                </div>
                
            </div>
           
               

            
        </div>
    </div>
</section>

{% endblock %}