{% extends "layout.html" %}


<!-- Sección #menu-navegacion -->

<nav id="menu-navegacion" class="navbar navbar-dark bg-secondary navbar-expand-md">
    <div class="container">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu-principal"
            aria-expanded="false" aria-label="Botón Menú principal">
            <span class="boton-menu"></span>
        </button>
        <!-- <a href="#" class="btn btn-primary order-md-1">Info</a> -->

        <div class="collapse navbar-collapse" id="menu-principal">
            <ul class="navbar-nav mt-3 mt-md-0">
                <li class="nav-item mb-1 mb-md-0 mr-md-2"><a href="#barra-contacto" class="nav-link active">Inicio</a>
                </li>
                <li class="nav-item mb-1 mb-md-0 mr-md-2"><a href="#bienvenidos" class="nav-link">Nosotros</a></li>
                <li class="nav-item mb-1 mb-md-0 mr-md-0"><a href="#contacto" class="nav-link">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}
<!-- Sección #animacion -->
<section id="lista">
    <div class="container">
        <header class="py-3 text-secondary text-center">
            <h2 class="display-6 font-weight-bold">SUPERLISTA</h2>
            <div class="text-right ">
                <a href=""><i onclick="javascript:window.print();" class="fas fa-print text-primary fa-2x "></i></a>
            </div>
        </header>
    </div>
    <div class="container">
        <div class="row justify-content-center py-3">
            <div class="col-md-12">
                <div id="accordion" role="tablist">
                    <div class="card">
                      <div class="card-header text-center" role="tab" id="headingZero">
                        <h5 class="mb-0">
                          <a data-toggle="collapse" href="#collapseZero" aria-expanded="true" aria-controls="collapseZero" style="text-decoration:none">
                            <div class="d-flex text-white">
                                <div class="p-2 w-100 bg-primary text-center text-white">ARTÍCULOS AGREGADOS A LA CESTA</div>
                                <div class="p-2 flex-shrink-0 bg-primary"><i class="fas fa-caret-down "></i></div>
                            </div>
                          </a>
                        </h5>
                      </div>
                  
                      <div id="collapseZero" class="collapse show" role="tabpanel" aria-labelledby="headingZero">
                        <div class="card-body">
                            <table class="table  table-sm ">
                                {%  set contador = namespace(value=0) %}
                                <tbody>
                                    <tr class="text-center border">
                                        {% for CestaArticulo in CestaArticulos %}
                                        {% if  (contador.value % 1) == 0 %}
                                    </tr>
                                    <tr>
                                        {% endif %}
                                        <td class="text   border ">
                                            <div class="input-group py-1">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <a href="/DeleteArtCesta_home/{{CestaArticulo.Id}}"><i
                                                            class="far fa-trash-alt text-primary"></i></a>
                                                    </div>
                                                </div>
                                                <input type="text" name="input" readonly="true" class="form-control"
                                                    value="{{ CestaArticulo.Item_nombre }}" aria-label="Text input with checkbox">
        
                                        </td>
                                        {% set contador.value = contador.value + 1 %}
    
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                      </div>
                    </div>    
                </div>
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true)%}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert {{category}} text-center" id="idMensajeError">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <!-- listar artículos -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <form action="">
                    <div id="accordion" role="tablist">
                        {% for categoria in categorias %}
                        {% if categoria.cat_id == 11 %}
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne" style="text-decoration:none">
                                        <div class="d-flex text-white">
                                            <div class="p-2 w-100 bg-primary text-center">{{ categoria.cat_nombre }}</div>
                                            <div class="p-2 flex-shrink-0 bg-primary"><i class="fas fa-caret-down "></i></div>
                                        </div>
                                    </a>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    {% for producto in productos %}
                                    {% if categoria.cat_id == producto.cat_id  %}
                                    <div class="input-group py-1">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <a href="/AddArt/{{producto.pro_nombre}}/{{producto.pro_id}}"><i
                                                        class="fas fa-cart-plus" style="color:black;"></i></a>
                                            </div>
                                        </div>
                                        <input type="text" name="input" readonly="true" class="form-control"
                                            value="{{ producto.pro_nombre }}" aria-label="Text input with checkbox">

                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {%endif%}

                        {%endfor%}
                    </div>
                    <div id="accordion" role="tablist">
                        {% for categoria in categorias %}
                        {% if categoria.cat_id == 12 %}
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true"
                                        aria-controls="collapseTwo" style="text-decoration:none">
                                        <div class="d-flex text-white">
                                            <div class="p-2 w-100 bg-primary text-center">{{ categoria.cat_nombre }}</div>
                                            <div class="p-2 flex-shrink-0 bg-primary"><i class="fas fa-caret-down "></i></div>
                                        </div>
                                    </a>
                                </h5>
                            </div>

                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body">
                                    {% for producto in productos %}
                                    {% if categoria.cat_id == producto.cat_id  %}
                                    <div class="input-group py-1">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <a href="/AddArt/{{producto.pro_nombre}}/{{producto.pro_id}}"><i
                                                        class="fas fa-cart-plus" style="color:black;"></i></a>
                                            </div>
                                        </div>
                                        <input type="text" name="input" readonly="true" class="form-control"
                                            value="{{ producto.pro_nombre }}" aria-label="Text input with checkbox">

                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {%endif%}
                        {%endfor%}
                    </div>
                    <div id="accordion" role="tablist">
                        {% for categoria in categorias %}
                        {% if categoria.cat_id == 9 %}
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseThree" aria-expanded="true"
                                        aria-controls="collapseThree" style="text-decoration:none">
                                        <div class="d-flex text-white">
                                            <div class="p-2 w-100 bg-primary text-center">{{ categoria.cat_nombre }}</div>
                                            <div class="p-2 flex-shrink-0 bg-primary"><i class="fas fa-caret-down "></i></div>
                                        </div>
                                    </a>
                                </h5>
                            </div>

                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="card-body">
                                    {% for producto in productos %}
                                    {% if categoria.cat_id == producto.cat_id  %}
                                    <div class="input-group py-1">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <a href="/AddArt/{{producto.pro_nombre}}/{{producto.pro_id}}"><i
                                                        class="fas fa-cart-plus" style="color:black;"></i></a>
                                            </div>
                                        </div>
                                        <input type="text" name="input" readonly="true" class="form-control"
                                            value="{{ producto.pro_nombre }}" aria-label="Text input with checkbox">

                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {%endif%}
                        {%endfor%}
                    </div>
                    <div id="accordion" role="tablist">
                        {% for categoria in categorias %}
                        {% if categoria.cat_id == 13 %}
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFour">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseFour" aria-expanded="true"
                                        aria-controls="collapseFour" style="text-decoration:none">
                                        <div class="d-flex text-white">
                                            <div class="p-2 w-100 bg-primary text-center">{{ categoria.cat_nombre }}</div>
                                            <div class="p-2 flex-shrink-0 bg-primary"><i class="fas fa-caret-down "></i></div>
                                        </div>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="card-body">
                                    {% for producto in productos %}
                                    {% if categoria.cat_id == producto.cat_id  %}
                                    <div class="input-group py-1">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <a href="/AddArt/{{producto.pro_nombre}}/{{producto.pro_id}}"><i
                                                        class="fas fa-cart-plus" style="color:black;"></i></a>
                                            </div>
                                        </div>
                                        <input type="text" name="input" readonly="true" class="form-control"
                                            value="{{ producto.pro_nombre }}" aria-label="Text input with checkbox">

                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {%endif%}
                        {%endfor%}
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <form action="">
                    <div id="accordion" role="tablist">
                        {% for categoria in categorias %}
                            {% if categoria.cat_id == 5 %}
                            <div class="card">
                                <div class="card-header" role="tab" id="headingFive">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" href="#collapseFive" aria-expanded="true"
                                            aria-controls="collapseFive" style="text-decoration:none">
                                            <div class="d-flex text-white">
                                                <div class="p-2 w-100 bg-primary text-center">{{ categoria.cat_nombre }}</div>
                                                <div class="p-2 flex-shrink-0 bg-primary"><i class="fas fa-caret-down "></i></div>
                                            </div>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="card-body">
                                        {% for producto in productos %}
                                        {% if categoria.cat_id == producto.cat_id  %}
                                        <div class="input-group py-1">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <a href="/AddArt/{{producto.pro_nombre}}/{{producto.pro_id}}"><i
                                                            class="fas fa-cart-plus" style="color:black;"></i></a>
                                                </div>
                                            </div>
                                            <input type="text" name="input" readonly="true" class="form-control"
                                                value="{{ producto.pro_nombre }}" aria-label="Text input with checkbox">
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {%endif%}
                        {%endfor%}
                    </div>
                    <div id="accordion" role="tablist">
                        {% for categoria in categorias %}
                            {% if categoria.cat_id == 6 %}
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingSix">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" href="#collapseSix" aria-expanded="true"
                                                aria-controls="collapseSix" style="text-decoration:none">
                                                <div class="d-flex text-white">
                                                    <div class="p-2 w-100 bg-primary text-center">{{ categoria.cat_nombre }}</div>
                                                    <div class="p-2 flex-shrink-0 bg-primary"><i class="fas fa-caret-down "></i></div>
                                                </div>
                                            </a>
                                        </h5>
                                    </div>

                                    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                                        <div class="card-body">
                                            {% for producto in productos %}
                                            {% if categoria.cat_id == producto.cat_id  %}
                                            <div class="input-group py-1">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <a href="/AddArt/{{producto.pro_nombre}}/{{producto.pro_id}}"><i
                                                                class="fas fa-cart-plus" style="color:black;"></i></a>
                                                    </div>
                                                </div>
                                                <input type="text" name="input" readonly="true" class="form-control"
                                                    value="{{ producto.pro_nombre }}" aria-label="Text input with checkbox">

                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {%endif%}
                        {%endfor%}
                    </div>
                    <div id="accordion" role="tablist">
                        {% for categoria in categorias %}
                        {% if categoria.cat_id == 2 %}
                        <div class="card">
                            <div class="card-header" role="tab" id="headingSeven">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseSeven" aria-expanded="true"
                                        aria-controls="collapseSeven" style="text-decoration:none">
                                        <div class="d-flex text-white">
                                            <div class="p-2 w-100 bg-primary text-center">{{ categoria.cat_nombre }}</div>
                                            <div class="p-2 flex-shrink-0 bg-primary"><i class="fas fa-caret-down "></i></div>
                                        </div>
                                    </a>
                                </h5>
                            </div>

                            <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
                                <div class="card-body">
                                    {% for producto in productos %}
                                    {% if categoria.cat_id == producto.cat_id  %}
                                    <div class="input-group py-1">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <a href="/AddArt/{{producto.pro_nombre}}/{{producto.pro_id}}"><i
                                                        class="fas fa-cart-plus" style="color:black;"></i></a>
                                            </div>
                                        </div>
                                        <input type="text" name="input" readonly="true" class="form-control"
                                            value="{{ producto.pro_nombre }}" aria-label="Text input with checkbox">

                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {%endif%}
                        {%endfor%}
                    </div>
                    <div id="accordion" role="tablist">
                        {% for categoria in categorias %}
                        {% if categoria.cat_id == 10 %}
                        <div class="card">
                            <div class="card-header" role="tab" id="headingEight">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseEight" aria-expanded="true"
                                        aria-controls="collapseEight" style="text-decoration:none">
                                        <div class="d-flex text-white">
                                            <div class="p-2 w-100 bg-primary text-center">{{ categoria.cat_nombre }}</div>
                                            <div class="p-2 flex-shrink-0 bg-primary"><i class="fas fa-caret-down "></i></div>
                                        </div>
                                    </a>
                                </h5>
                            </div>

                            <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
                                <div class="card-body">
                                    {% for producto in productos %}
                                    {% if categoria.cat_id == producto.cat_id  %}
                                    <div class="input-group py-1">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <a href="/AddArt/{{producto.pro_nombre}}/{{producto.pro_id}}"><i
                                                        class="fas fa-cart-plus" style="color:black;"></i></a>
                                            </div>
                                        </div>
                                        <input type="text" name="input" readonly="true" class="form-control"
                                            value="{{ producto.pro_nombre }}" aria-label="Text input with checkbox">

                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {%endif%}
                        {%endfor%}
                    </div>
                </form>
            </div>


            <div class="col-md-4">
                <form action="">
                    <div id="accordion" role="tablist">
                        {% for categoria in categorias %}
                        {% if categoria.cat_id == 7 %}
                        <div class="card">
                            <div class="card-header" role="tab" id="headingNine">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseNine" aria-expanded="true"
                                        aria-controls="collapseNine" style="text-decoration:none">
                                        <div class="d-flex text-white">
                                            <div class="p-2 w-100 bg-primary text-center">{{ categoria.cat_nombre }}</div>
                                            <div class="p-2 flex-shrink-0 bg-primary"><i class="fas fa-caret-down "></i></div>
                                        </div>
                                    </a>
                                </h5>
                            </div>

                            <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine">
                                <div class="card-body">
                                    {% for producto in productos %}
                                    {% if categoria.cat_id == producto.cat_id  %}
                                    <div class="input-group py-1">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <a href="/AddArt/{{producto.pro_nombre}}/{{producto.pro_id}}"><i
                                                        class="fas fa-cart-plus" style="color:black;"></i></a>
                                            </div>
                                        </div>
                                        <input type="text" name="input" readonly="true" class="form-control"
                                            value="{{ producto.pro_nombre }}" aria-label="Text input with checkbox">

                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {%endif%}

                        {%endfor%}
                    </div>
                    <div id="accordion" role="tablist">
                        {% for categoria in categorias %}
                        {% if categoria.cat_id == 3 %}
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTen">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseTen" aria-expanded="true"
                                        aria-controls="collapseTen" style="text-decoration:none">
                                        <div class="d-flex text-white">
                                            <div class="p-2 w-100 bg-primary text-center">{{ categoria.cat_nombre }}</div>
                                            <div class="p-2 flex-shrink-0 bg-primary"><i class="fas fa-caret-down "></i></div>
                                        </div>
                                    </a>
                                </h5>
                            </div>

                            <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen">
                                <div class="card-body">
                                    {% for producto in productos %}
                                    {% if categoria.cat_id == producto.cat_id  %}
                                    <div class="input-group py-1">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <a href="/AddArt/{{producto.pro_nombre}}/{{producto.pro_id}}"><i
                                                        class="fas fa-cart-plus" style="color:black;"></i></a>
                                            </div>
                                        </div>
                                        <input type="text" name="input" readonly="true" class="form-control"
                                            value="{{ producto.pro_nombre }}" aria-label="Text input with checkbox">

                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {%endif%}
                        {%endfor%}
                    </div>
                    <div id="accordion" role="tablist">
                        {% for categoria in categorias %}
                        {% if categoria.cat_id == 4 %}
                        <div class="card">
                            <div class="card-header" role="tab" id="headingEleven">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseEleven" aria-expanded="true"
                                        aria-controls="collapseEleven" style="text-decoration:none">
                                        <div class="d-flex text-white">
                                            <div class="p-2 w-100 bg-primary text-center">{{ categoria.cat_nombre }}</div>
                                            <div class="p-2 flex-shrink-0 bg-primary"><i class="fas fa-caret-down "></i></div>
                                        </div>
                                    </a>
                                </h5>
                            </div>

                            <div id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="headingEleven">
                                <div class="card-body">
                                    {% for producto in productos %}
                                    {% if categoria.cat_id == producto.cat_id  %}
                                    <div class="input-group py-1">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <a href="/AddArt/{{producto.pro_nombre}}/{{producto.pro_id}}"><i
                                                        class="fas fa-cart-plus" style="color:black;"></i></a>
                                            </div>
                                        </div>
                                        <input type="text" name="input" readonly="true" class="form-control"
                                            value="{{ producto.pro_nombre }}" aria-label="Text input with checkbox">

                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {%endif%}
                        {%endfor%}
                    </div>

                    <div id="accordion" role="tablist">
                        {% for categoria in categorias %}
                        {% if categoria.cat_id == 1 %}
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwelve">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseTwelve" aria-expanded="true"
                                        aria-controls="collapseTwelve" style="text-decoration:none">
                                        <div class="d-flex text-white">
                                            <div class="p-2 w-100 bg-primary text-center">{{ categoria.cat_nombre }}</div>
                                            <div class="p-2 flex-shrink-0 bg-primary"><i class="fas fa-caret-down "></i></div>
                                        </div>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwelve" class="collapse" role="tabpanel" aria-labelledby="headingTwelve">
                                <div class="card-body">
                                    {% for producto in productos %}
                                    {% if categoria.cat_id == producto.cat_id  %}
                                    <div class="input-group py-1">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <a href="/AddArt/{{producto.pro_nombre}}/{{producto.pro_id}}"><i
                                                        class="fas fa-cart-plus" style="color:black;"></i></a>
                                            </div>
                                        </div>
                                        <input type="text" name="input" readonly="true" class="form-control"
                                            value="{{ producto.pro_nombre }}" aria-label="Text input with checkbox">

                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {%endif%}
                        {%endfor%}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Sección #bienvenidos -->
<br>
<br>
<section id="bienvenidos" class="py-5">

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 text-center">

                <div class="contenedor-video d-inline-block position-relative text-truncate">

                    <img src="{{ url_for('static', filename='images/images.jpg') }}"
                        alt="Imagen del video promocional del Sitio" class="img-fluid">
                    <a href="https://www.youtube.com/watch?v=AulXnRyo-C0" class="venobox-video" data-vbtype="video"
                        title="Bienvenidos a nuestro sitio web."><i class="fas fa-play"></i></a>
                </div>

            </div>
            <div class="col-12 col-lg-6  pt-4 pt-lg-0 text-center text-lg-left">
                <h2 class="display-4 font-weight-bold text-secondary  mt-lg-n2">
                    BIENVENIDOS A TU <span class="text-primary">SUPERLISTA.</span>
                </h2>
                <h6 class="text-black-50">ADMINISTRE SU ECONOMIA PERSONAL</h6>
                <p>
                    Superlistas es una plataforma web que permite descargar una lista de compras. También posibilita
                    agregar items a la lista predefinida y crear tu propia lista de compras entre otras cosas.
                </p>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<!-- Sección #contacto -->
<section id="contacto">
    <header class="py-5 bg-primary text-white text-center position-relative">
        <h2 class="display-4 font-weight-bold">CONTÁCTANOS</h2>
        <h6 class="text-white-50">ESTAMOS LISTOS PARA ATENDERTE</h6>
        <div class="detalle-rectangulo"></div>
    </header>

    <div class="container">
        <div class="row py-5">

            <div class="col-6">
                <h2 class="font-weight-bold text-center mb-2">Detalles de contacto:</h2>

                <ul class="list-unstyled">
                    <li class="d-flex border-bottom py-4">
                        <i class="fas fa-envelope-open fa-3x text-danger mr-4 fa-fw"></i>
                        <div>
                            <h5 class="font-weight-bold">Email:</h5>
                            <p class="mb-0"><a href="mailto:canariosbit@gmail.com"
                                    style="color:#000000;">canariosbit@gmail.com</a></p>
                        </div>
                    </li>
                    <li class="d-flex border-bottom py-4">
                        <i class="fab fa-skype fa-3x text-info mr-4 fa-fw"></i>
                        <div>
                            <h5 class="font-weight-bold">Skype:</h5>
                            <p class="mb-0">CanariosbIT</p>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</section>


{% endblock %}