<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUPERLISTAS | Creamos tu lista de super.</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Favicon.png') }}">
    <!-- Carga del css de bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Carga del css de fontawesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <!-- Carga del CSS de "Swiper" -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.min.css') }}">
    <!-- Carga del CSS de "VenoBox" -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/venobox.css') }}">
    <!-- Carga del CSS de "Jarallax" -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jarallax.css') }}">
    <!-- Carga del CSS de "Pickadate.js" -->
    <link rel="stylesheet" href="{{ url_for('static', filename='js/pickadate.js/themes/default.css') }}">
    <!-- Carga del CSS de "Date Picker" -->
    <link rel="stylesheet" href="{{ url_for('static', filename='js/pickadate.js/themes/default.date.css') }}">
    <!-- Carga del CSS de "Time Picker" -->
    <link rel="stylesheet" href="{{ url_for('static', filename='js/pickadate.js/themes/default.time.css') }}">
    <!-- Carga de Fuentes de google-->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <!-- Carga del css personalizado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>

<body>
    <!-- Seccion #barra-contacto -->
    <section id="barra-contacto" class="bg-primary text-white py-3 py-lg-1 text-center">
        <div class="container">
            <div class="row justify-content-sm-between align-items-sm-center">
                <div class="col-12 col-sm-auto">
                    <MARQUEE>Bienvenido!!!</MARQUEE>
                </div>

                <div class="col-12 col-sm-auto">
                    <ul class="redes-sociales list-unstyled d-inline-flex mb-0">
                        <li><a href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"></i></i></a></li>
                        <li><a href="{{ url_for('registrarse') }}"><i class="fas fa-user-plus"></i></i></a></li>
                        <div>
                            <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
                            </div><span id="cantidad"> <strong>{{ session['id'] }}</strong></span>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Sección #detalles-encabezado -->
     <section id="detalles-encabezado" class="d-none d-md-block py-2">
        <div class="container">
            <div class="row justify-content-md-between align-items-md-center">
                <div class="col-auto">
                    <a class="logo">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo del sitio" width="200" class="img-fluid">
                    </a>
                </div>
                <div class="col-auto">
                    <i class="fas fa-envelope fa-2x align-middle text-primary"></i>
                    <span class="font-weight-bold h5 ml-2">canariosbit@gmail.com</span>
                </div>
            </div>
        </div>

    </section>
    <!-- Sección #menu-navegacion -->

    <nav id="menu-navegacion" class="navbar navbar-dark bg-secondary navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu-principal"
                aria-expanded="false" aria-label="Botón Menú principal">
                <span class="boton-menu"></span>
            </button>
            <!-- <a href="#" class="btn btn-primary order-md-1">Info</a> -->

            <div class="collapse navbar-collapse" id="menu-principal">
                <ul class="navbar-nav mt-3 mt-md-0">
                    <li class="nav-item mb-1 mb-md-0 mr-md-2"><a href="#barra-contacto"
                            class="nav-link active">Inicio</a></li>
                    <li class="nav-item mb-1 mb-md-0 mr-md-2"><a href="#bienvenidos" class="nav-link">Nosotros</a></li>
                    <li class="nav-item mb-1 mb-md-0 mr-md-0"><a href="#contacto" class="nav-link">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>


    {% block content %}

    {% endblock %}
    <!-- Sección #pie-de-pagina -->

    <footer id="pie-de-pagina" class="bg-dark  text-light text-truncate">
        <div class="container">
            <div class="row align-items-center py-2">
                <div class="col-12 col-md-6 py-2 col-xl-7 text-center text-md-right small">
                    <p>©2020. Todos los derechos reservados.</p>
                </div>

            </div>
        </div>
    </footer>
    <!-- Carga de 'Jquery' -->
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <!-- Carga de 'Popper" -->
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <!-- Carga de 'Bootstrap" -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Carga de "Swiper" -->
    <script src="{{ url_for('static', filename='js/swiper.min.js') }}"></script>

    <!-- Carga de "VenoBox" -->
    <script src="{{ url_for('static', filename='js/venobox.min.js') }}"></script>

    <!-- Carga de "Jarallax" -->
    <script src="{{ url_for('static', filename='js/jarallax.min.js') }}"></script>

    <!-- Carga de "PictureFill" -->
    <script src="{{ url_for('static', filename='js/picturefill.min.js') }}"></script>

    <!-- Carga de "Waypoints" -->
    <script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>

    <!-- Carga de "jquery.counterup" -->
    <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>

    <!-- Carga de "Picker.js" | Crea el selector de fecha y de hora-->
    <script src="{{ url_for('static', filename='js/pickadate.js/picker.js') }}"></script>

    <!-- Carga de "picker.date.js" | Crea el selector de fecha-->
    <script src="{{ url_for('static', filename='js/pickadate.js/picker.date.js') }}"></script>

    <!-- Carga de "picker.time.js" | Crea el selector de fecha-->
    <script src="{{ url_for('static', filename='js/pickadate.js/picker.time.js') }}"></script>

    <!-- Carga de "parsley.js" | Crea la validación de formularios-->
    <script src="{{ url_for('static', filename='js/parsley.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/parsley.es.js') }}"></script>

    <!-- Carga de "Jquery Stickit.js" | Crean un encabezado fijo en la parte superior de la página-->
    <script src="{{ url_for('static', filename='js/jquery.stickit.min.js') }}"></script>


    <!-- Carga de "page-scroll-to-id" | Crean el efecto de scroll entre los enlaces-->
    <script src="{{ url_for('static', filename='js/jquery.malihu.PageScroll2id.min.js') }}"></script>

    <!-- Carga de "css_browser_selector" | Crean clases para identificar un disp.-->
    <script src="{{ url_for('static', filename='js/css_browser_selector.js') }}"></script>

    <!-- Archivo para configurar e iniciar las funciones de los scripts -->
    <script src="{{ url_for('static', filename='js/mis-scripts.js') }}"></script>
</body>

</html>