{% extends "layout_logged_in.html" %}

{% block content %}

<!-- Sección #Mis_Listas -->
<section id="mislistas">
    <header class="py-3 text-secondary text-center position-relative">
        <h2 class="display-6 font-weight-bold">MIS LISTAS</h2>
    </header>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 text-center">

                <table class="table table-bordered table-striped ">
                    <thead class="table bg-primary text-white ">
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for lista in listas %}
                        <tr>
                            <th scope="row">{{ lista.Id }}</th>
                            <td>{{ lista.Nombre }}</td>
                            <td>{{ lista.Descripcion }}</td>
                            <td>
                                <a href="/EditarLista/{{lista.Id}}/{{lista.Nombre}}"><i class="fas fa-edit text-primary px-3"></i></a>
                                <a href="/DeleteLista/{{lista.Id}}"><i class="fas fa-trash-alt text-primary px-3"></i></a>
                            </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
           
        </div>
    </div>
</section>

{% endblock %}