{% extends "layout_logged_in.html" %}

{% block content %}

<!-- Sección #Mis_Listas -->
<section>
    <div class="text h2 text-center py-3">
        <span>Tu Lista</span>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                {% for dato in datos%}
                <form action="/AgregarProductoLista/{{dato.ListaId}}" method="POST">
                {% endfor %}
                    <div class="card text-center">
                        <div class="card-header">
                            <div class="form-group">
                                <div class="text text-center px-1 text-primary">
                                    <label>AGREGUE UN PRODUCTO A TU LISTA</label> 
                                </div>
                                <div class="text text-left px-1">
                                    <label>Productos</label> 
                                </div>
                                <select class="form-control" name="producto">
                                    <option selected="OTROS" value="0">SELECCIONAR</option>
                                    {% for producto in productos %}
                                    <option value="{{producto.pro_id}}" {% if producto.pro_id == catSelected %}
                                        selected {% endif %}>{{ producto.pro_nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" name="submit" value="agregarDesdeHome" class="btn btn-primary btn-block">
                                Agregar <i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-5 text-center">
                <div class="card">
                    <div class="card-header">
                        {%  set contador = namespace(value=1) %}
                            {% for dato in datos%}
                                {% if contador.value == 1 %}
                                    <span class="text text-align-left" name="nmlista" id="nmlista"  >{{dato.ListaNombre}}</span>
                                {% endif %}
                            {% set contador.value = contador.value + 1 %}
                        {% endfor %}
                        
                    </div>
                    <div class="card-body ml-3">
                
                        {% for dato in datos %}
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <a href="/DeleteArtContenido/{{dato.ContenidoId}}"><i
                                            class="far fa-trash-alt text-success"></i></a>
                                </div>
                                <input type="text"  readonly="true" color="blue"
                                    class="form-control"
                                    value="{{ dato.ProductoNombre }}">
                            </div>                               
                        {% endfor %}  
                    </div>   
                </div>
                <br>
            </div>
        </div>
    </div>
</section>

{% endblock %}